@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

body {
    background: #F1F1F3;
}

section {
    padding: 20px 8%;
    margin-top: 80px;
}

section>h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

section>p {
    color: #0E0E0EB3;
    font-size: 16px;
    line-height: 24px;
}

.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

.nav-area h1 {
    font-size: 32px;
    font-weight: bold;
}

.nav-area button {
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section {
    padding: 20px 8%;
    margin: 0;
}

.hero-section > div {
    min-height: 560px;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C6E4D6;
    width: 100%;
    border-radius: 10px;
    gap: 64px;
}

.hero-section p {
    color: #0E0E0E83;
    font-size: 24px;
    font-weight: 500;
}

.hero-section h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 16px;
}

.hero-section button {
    background: #006A50;
    color: white;
    font-size: 18;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin-top: 24px;
}

.hero-section img {
    max-height: 400px;
}

.pillars-section .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.pillars-section .card-list .pillars-card {
    padding: 24px;
    border-radius: 16px;
    background: white;
}

.pillars-section .card-list .pillars-card img {
    height: 62px;
    margin-bottom: 24px;
}

.pillars-section .card-list .pillars-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0ECC;
    margin-bottom: 12px;
}

.pillars-section .card-list .pillars-card p {
    font-size: 16px;
    color: #0E0E0EB3;
    line-height: 24px;
}
.vision-section .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 32px;
}

.vision-section .card-list .vision-card {
    padding: 32px;
    border-radius: 16px;
}

.vision-section .card-list .card-one {
    background: rgba(84, 144, 245, 0.2);
}

.vision-section .card-list .card-two {
    background: rgba(198, 228, 214, 1);
}

.vision-section .card-list .card-three {
    background: #F7EBCF;
}

.vision-section .card-list .vision-card img {
    height: 62px;
    margin-bottom: 24px;
}

.vision-section .card-list .vision-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0ECC;
    margin-bottom: 12px;
}

.vision-section .card-list .vision-card p {
    font-size: 16px;
    color: #0E0E0EB3;
    line-height: 24px;
}

.vision-section .card-list .vision-card button {
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
    color: white;
    margin-top: 16px;
}

.vision-section .card-list .vision-card:nth-child(1) button {
    background: rgba(84, 144, 245, 1);
}

.vision-section .card-list .vision-card:nth-child(2) button {
    background: #09a15c;
}

.vision-section .card-list .vision-card:nth-child(3) button {
    background: #ffc239;
}

.quote {
    background: white;
    border-radius: 8px;
    padding: 48px 24px;
    margin-top: 32px;
    background-image: url("images/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 28px;
    background-position-y: 20px;
}

.quote p {
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
    font-size: 16px;
}

.quote h3 {
    color: rgba(14, 14, 14, 0.8);
    margin-top: 10px;
    font-size: 20px;
}

.news-section .news-card {
    padding: 48px;
    border-radius: 24px;
    background: white;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.news-section .news-card:nth-child(2) {
    flex-direction: row-reverse;
}

.news-section .news-card img {
    border-radius: 24px;
    max-height: 306px;
    margin-top: 12px;
}

.news-section .news-card h2 {
    font-size: 38px;
}

.news-section .news-card p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
}

.news-section .news-card>div>img {
    height: 40px;
}

.news-section .news-card button {
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
    color: white;
    margin-top: 16px;
    background: #006a50;
}